.button {
  background: #4b51ef;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  max-width: 105px;
  height: 24px;
  box-sizing: border-box;
  text-align: start;
  padding-left: 15px;
}
