.App {
  font-family: "Roboto", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  width: 665px;
}

.app__content {
  display: flex;
}

.app__filter {
  width: 152px;
  height: 100vh;
  background: #BDBDBD;
}

.app__filter-title {
  margin: 0;
}

.app__filter-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 0 0 20px;
  height: 74px;
}

.app__card-content {
  margin: 19px 0 0 31px;

}

.app__cards-title {
  margin: 0;
  padding-bottom: 17px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

