.App {
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  max-width: 665px;
}

.app__content {
  width: 770px;
  display: flex;
}

.app__filter {
  width: 200px;
  background: #bdbdbd;
}

.app__filter-title {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.app__filter-content {
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 0 0 20px;
  height: 74px;
}

.app__cards-content {
  margin: 19px 0 0 31px;
}

.app__cards-title {
  margin: 0;
  padding-bottom: 17px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.app_cards-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.app_cards-item :last-of-type {
  margin-bottom: 0;
}

.app__card-counter {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  text-align: right;
  margin-top: 10px;
}
