.card {
  width: 420px;
  height: 73px;
  background: #f3f3f3;
  border-radius: 8px;
  position: relative;
}

.card__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}

.card__user {
}
