.card {
  width: 420px;
  height: 73px;
  background: #f3f3f3;
  border-radius: 8px;
  position: relative;
  margin-bottom: 14px;
}


.card__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}
.card__link {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-decoration: none;
  color: #4B51EF;
  border: none;
  cursor: pointer;
}

.card__user {
  font-size: 11px;
  line-height: 13px;
  color: #a3a3a3;
}

.card__user-info {
  font-size: 11px;
  line-height: 13px;
  color: #000
}
